@import "./var/variables";
@import "./var/extends";
@import "./var/font";

body {
  font-family: "FontConCac", sans-serif;
  font-size: 15px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin: 1.5rem 0 0.75rem;
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

// 404

.error-box {
  position: relative;
  overflow: hidden;
  height: auto;
  min-height: calc(100vh - 62px);
  text-align: center;
  z-index: 0;

  &__title {
    position: relative;
    font-size: 3rem;
    span {
      color: #d63031;
      display: block;
      font-size: 6rem;
    }
  }

  &__desc {
    font-size: 1.25rem;
    width: 50%;
    max-width: 100%;
    margin: 1rem auto 2rem;
    font-weight: bold;
    color: #777;
  }

  &::after {
    content: "";
    background-image: url(../images/404.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    inset: 0 0 0 0;
    opacity: 0.23;
    z-index: -1;
  }
}

// Navbar

.main-navbar {
  position: relative;

  @include responsive(xl, up) {
    padding: 0;
  }
}

.navbar-brand-logo {
  max-height: 52px;
  width: auto;
  display: block;
  margin: 0 auto;
  object-fit: cover;
  -webkit-backface-visibility: hidden;
  -ms-transform: translateZ(0); /* IE 9 */
  -webkit-transform: translateZ(0); /* Chrome, Safari, Opera */
  transform: translateZ(0);
}

#navbar {
  .navbar-nav {
    .nav-item {
      margin: 0;
      > .nav-link {
        transition: all 0.25s ease;

        @include responsive(xl, up) {
          padding: 1.25rem 0.85rem;
        }

        > i {
          margin-right: 0.25rem;
        }
      }

      &:hover {
        > .nav-link {
          background-color: rgba($color: #777, $alpha: 0.085);
        }
      }
    }
  }
}

// Section

.section-item {
  padding: 2rem 0;

  &__header {
    position: relative;
    display: block;
    text-align: center;
    margin: 0 0 2rem;
  }

  &__title {
    display: inline-block;
    margin: 2rem 0 1rem;
    font-size: 1.5rem;
    color: #333;
    text-transform: uppercase;

    @include responsive(sm) {
      margin-top: 1rem;
      font-size: 1rem;
    }
  }

  &:not(:last-child) {
    margin-bottom: 2rem;
  }
}

// How to step

.how-to-section {
  position: relative;
  padding: 0;
  text-align: center;

  &__step-number {
    position: relative;
    margin: 0 auto 1.25rem;
    width: 80%;
    display: inline-block;
    background-image: url(../images/instruction-step__bg.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;
    color: #ffffff;
    transition: all 750ms ease;

    span {
      font-size: 300%;
      font-weight: 700;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &::after {
      content: "";
      display: block;
      height: 0;
      padding-top: 100%;
    }

    // Responsive
  }

  &__step-desc {
    position: relative;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1.25px;
    word-spacing: 3px;
    margin: -2rem 1rem 0;
    text-indent: 1rem;
    transition: all 750ms ease;
    z-index: 1;

    @include responsive(sm) {
      font-size: 0.85rem;
    }
  }

  @include responsive(sm) {
    margin: 0;

    &__step {
      margin-bottom: 2rem !important;
    }
  }
  &__step {
    position: relative;
  }
  @include responsive(md, up) {
    &__step {
      position: relative;
      &:hover {
        .how-to-section__step-number {
          transform: scale(1.05);
        }
        .how-to-section__step-desc {
          transform: translate(0, -50%);
        }
      }
    }
  }
  @include responsive(xs) {
    &__step {
      flex: 0 0 auto;
      width: 100%;
      max-width: 100%;
    }
  }
}
