@font-face {
  font-family: "FontConCac";
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
  src: url("../webfonts/UTM Avo.ttf");
}
@font-face {
  font-family: "FontConCac";
  font-weight: normal;
  font-style: italic;
  font-display: fallback;
  src: url("./webfonts/UTM AvoItalic.ttf");
}
@font-face {
  font-family: "FontConCac";
  font-weight: bold;
  font-style: normal;
  font-display: fallback;
  src: url("../webfonts/UTM AvoBold.ttf");
}
@font-face {
  font-family: "FontConCac";
  font-weight: bold;
  font-style: italic;
  font-display: fallback;
  src: url("./webfonts/UTM AvoBold_Italic.ttf");
}
