$green_color: #2ecc71;
$blue_color: #3498db;
$purple_color: #9b59b6;
$orange_color: #e67e22;
$dark_color: #2c3e50;

$breakpoints: (
  xs: 360px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);
