<section class="error-box d-flex align-items-center">
  <div class="container">
    <h1 class="error-box__title"><span>404</span>Không tìm thấy dữ liệu</h1>
    <p class="error-box__desc">
      Trang bạn truy cập hcặc tìm kiếm không tồn tại trên máy chủ, có thể nội
      dung bị xoá hoặc không tồn tại.
    </p>
    <div class="error-box__btns btn-group" role="group" aria-label="">
      <a href="/" class="btn btn-danger"><i class="fas fa-home"></i>
        Về trang chủ</a>
    </div>
  </div>
</section>