<header class="site-header">
  <div class="header-container shadow-sm">
    <nav class="main-navbar navbar navbar-expand-xl navbar-light bg-white">
      <div class="container">
        <a class="navbar-brand" href="/">
          <img
            class="navbar-brand-logo"
            src="/images/logo.png"
            alt="Thầy Đào Trọng Thuộc"
            title="Thầy Đào Trọng Thuộc"
          />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbar"
          aria-controls="navbar"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse mt-2 mt-lg-0" id="navbar">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/"><i
                  class="fas fa-home"
                ></i>
                Trang chủ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/khoa-hoc"><i
                  class="fas fa-graduation-cap"
                ></i>
                Khoá học</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/thi-online"><i
                  class="fas fa-globe-asia"
                ></i>
                Thi Online</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/bang-xep-hang"><i
                  class="fas fa-chess-queen"
                ></i>
                Bảng xếp hạng</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/tin-tuc"><i
                  class="far fa-newspaper"
                ></i>
                Tin tức</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/tai-lieu"><i
                  class="far fa-file-alt"
                ></i>
                Tài liệu</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/nhom-hoc-tap"><i
                  class="fas fa-users"
                ></i>
                Nhóm học tập</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>