<section
  class="site-main__section section-item section-item-1 instruction-section"
>
  <div class="container">
    <div class="section-item__header">
      <h2 class="section-item__title">
        Hướng dẫn học trực tuyến
      </h2>
    </div>
    <div class="how-to-section row">
      <div
        class="col-6 col-sm-6 col-md-6 mb-4 mb-lg-0 col-lg-3 how-to-section__step section-item__column no-select"
      >
        <h3
          class="how-to-section__step-number how-to-section__step-number--purple"
        >
          <span>1</span>
        </h3>
        <p class="how-to-section__step-desc how-to-section__step-desc--purple">
          Chọn khoá học
        </p>
      </div>
      <div
        class="col-6 col-sm-6 col-md-6 mb-4 mb-lg-0 col-lg-3 how-to-section__step section-item__column no-select"
      >
        <h3
          class="how-to-section__step-number how-to-section__step-number--orange"
        >
          <span>2</span>
        </h3>
        <p class="how-to-section__step-desc how-to-section__step-desc--orange">
          Học thử miễn phí
        </p>
      </div>
      <div
        class="col-6 col-sm-6 col-md-6 col-lg-3 how-to-section__step section-item__column no-select"
      >
        <h3
          class="how-to-section__step-number how-to-section__step-number--blue"
        >
          <span>3</span>
        </h3>
        <p class="how-to-section__step-desc how-to-section__step-desc--blue">
          Nộp học phí
        </p>
      </div>
      <div
        class="col-6 col-sm-6 col-md-6 col-lg-3 how-to-section__step section-item__column no-select"
      >
        <h3
          class="how-to-section__step-number how-to-section__step-number--green"
        >
          <span>4</span>
        </h3>
        <p class="how-to-section__step-desc how-to-section__step-desc--green">
          Vào học
        </p>
      </div>
    </div>
  </div>

</section>